# Place to /etc/systemd/system/wsfs.service
[Unit]
Description=Websocket Filesystem Server
After=network-online.target

[Service]
Type=simple
# It's recommand to create a user run wsfs
User=storager
#ExecStart=/opt/wsfs/bin/wsfs serve --config /etc/wsfs/server.toml --no-log-time
ExecStart=/usr/bin/wsfs serve --config /etc/wsfs/server.toml --no-log-time
ExecReload=/usr/bin/wsfs reload-server -p $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target